@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mixer Login</h1>
    <p class="lead">APagina de teste para autenticação com a mixer</p>
    <p><a href="@Url.Action("AutenticaMixer","Home")" class="btn btn-primary btn-lg">Autenticar &raquo;</a></p>
</div>
